<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>YelpCamp App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="javascript" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">YelpCamp</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Login</a></li>
            <li><a href="/">Sig Up</a></li>
            <li><a href="/">Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>
