<% include ./partials/header %>

<h1>Login</h1>

<form class="" action="/login" method="post">
  <input type="text" name="username" value="" placeholder="username">
  <input type="password" name="password" value="" placeholder="password">
  <input type="submit" name="" value="Login">
</form>

<% include ./partials/footer %>
